.switch-button{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.switch-button a{
    text-decoration: none;
}

.card-padding{
    padding: 20px;
}

.card-body form div {
    margin: 5px 0;
}